@tailwind base;
@tailwind components;
@tailwind utilities;

.title-logo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}
.btn-create-list {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.04em;
}

.status-card-job {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding-left: 6px;
    padding-right: 6px;
}

.sidebar-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

/* .toggle-nav-show{
    width: 82%;
    margin-left: 18%;
}

.toggle-nav-hidden{
    width: 95%;
    margin-left: 5%;
} */

.togle-search-mobile {
    /* justify-start pl-24 */
    display: flex;
    justify-content: flex-start;
    padding-left: 96px;
    align-items: center;
    /* margin-left: 40px; */
}

.togle-search-desktop {
    /* justify-start pl-24 */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-left: 40px; */
}

.overview-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}

.overview-status {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}

.overview-status-field {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}

.overview-id-field {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}
/* .space-x-id > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(58px * var(--tw-space-x-reverse));
    margin-left: calc(58px * calc(1 - var(--tw-space-x-reverse)));
} */

.overview-assigned-field {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}

.overview-label-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07px;
    color: #ffffff;
}

.overview-tab {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}

.overview-send-job {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
}

.overview-note {
    font-weight: 700;
    font-size: 13px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
    color: #222222;
}

.overview-note-body {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
}

.overview-modal-detail-talent {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
}

.overview-when {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.505882px;
    color: #9b9b9b;
}

.overview-ring-day {
    border: 2px solid #fa9d6b;
    border-radius: 7px;
}

.overview-text-day {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.505882px;
    color: #fa9d6b;
}

.overview-text-muted {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.505882px;
    color: #dddddd;
}

.overview-table-header-day {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.505882px;
    color: #9b9b9b;
}

.overview-tabel-body-day {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.43px;
    color: #4a4a4a;
}
.overview-show-more {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.07px;
    color: #fa9d6b;
}

.overview-name-talent {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
}

.overview-live-talent {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
    color: #3bd7cf;
}

.overview-experiance-talent {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
    color: #827c7c;
}

.overview-add-talent {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.07px;
    color: #ffffff;
}
.overview-client-detail {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.337647px;
    color: #222222;
}
.overview-client-detail-table {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: #222222;
}
.overview-comments-name {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.overview-comments-body {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #827c7c;
}
.overview-comments-reply {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
    color: #afabab;
}
.overview-comments-leave {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
}
.overview-attechment-title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
}
.overview-attechment-size {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
}

.overview-attechment-btn-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
    color: #ffffff;
}

.overview-responsibilities-title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.411029px;
    color: #4a4a4a;
}
.overview-responsibilities-title-muted {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.411029px;
    color: #dddddd;
}

.task-text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: #827c7c;
}

.task-text-body {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
}

.task-btn-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #ffffff;
}

.overview-talent-status {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07px;
}
.overview-talent-otside-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
    letter-spacing: -0.24px;
}
.overview-talent-modal-title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
}

.overview-modal-add-talent-title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.41px;
}

.overview-modal-add-talent-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}
.overview-modal-add-talent-textarea-rule {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    letter-spacing: -0.08px;
    text-transform: uppercase;
    color: #827c7c;
}

.overview-modal-add-talent-upload-text {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.24px;
}

.overview-send-title {
    font-style: normal;
    font-weight: 700;
    /* font-size: 34px; */
    /* line-height: 41px; */
    letter-spacing: 0.41px;
}

.overview-send-price {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.38px;
}

.user-create-client-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.337647px;
}

.user-talent-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.04em;
}
.user-talent-name {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;
}
.user-talent-live {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;
}
/* #family-error , #title-error , #description-error , #id-error{
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0;
} */

label[for="subcategory[]"],
label[for="family"],
label[for="title"],
label[for="description"],
label[for="address"],
label[for="start_time"],
label[for="end_time"],
label[for="start_date"],
label[for="end_date"],
label[for="rate"],
label[for="range"],
label[for="name_chile[]"],
label[for="age[]"],
label[for="agency_name"],
label[for="url_ending_legal"],
label[for="company_description"],
label[for="status[]"],
label[for="chile_care[]"],
label[for="senior_care[]"],
label[for="name_status_job[]"],
label[for="home_care[]"],
label[for="first_name"],
label[for="last_name"],
label[for="email"],
label[for="phone"],
label[for="address"],
label[for="day_of_birthday"],
label[for="type_helper"],
label[for="experience"],
label[for="languages"],
label[for="full_name"],
label[for="password"],
label[for="status_talent[]"],
label[for="hourly_rate"],
label[for="placement_fee"],
label[for="aplication_fee"],
label[for="location"],
label[id="0-error"],
label[for="note"],
label[for="from_date"],
label[for="to_date"],
label[id="about_talent-error"] {
    color: red;
    font-size: 12px;
}

.dz-button {
    display: none;
}

/* Loading */
.container-loader {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
  }
  .loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
  }
  .loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
  }
  .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
  }
  .loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

    .toast-success{
        background: #10b981;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
  
  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
  }
  @keyframes loading-text {
    0% {
      content: "Loading";
    }
    25% {
      content: "Loading.";
    }
    50% {
      content: "Loading..";
    }
    75% {
      content: "Loading...";
    }
  }

/* End animate loading */